/*
	Kenna Skoczen
	cse383
*/
h1 {
	font-size: 12px;
	color: #581AFC;
	text-align: center;
}

footer {
	font-size: 12px;
	color: #581AFC;
	text-align: center;
}
.container-fluid {
	border-style: dotted; 
	border-color: #581AFC;
	border-width: medium;
	background: #C3B5E9;
	padding: 10px;
	margin: 25px;
	text-align: center;
}

.input {
	margin-left: auto;
	margin-right: auto;
}

label {
	color: #581AFC
}

.font-weight-bold {
	font-weight: bold;
}

body {
	background-color: #F89FD3;
}

.button {
	text-align: center;
}
